<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string></string>
		<key>Correct</key>
		<string></string>
		<key>Answer1</key>
		<string></string>
		<key>Answer2</key>
		<string></string>
		<key>Answer3</key>
		<string></string>
		<key>Answer4</key>
		<string></string>
		<key>Time</key>
		<string></string>
		<key>Tag1</key>
		<string></string>
		<key>Tag2</key>
		<string></string>
		<key>Tag3</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Image</key>
		<string></string>
		<key>Crossref</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string></string>
		<key>Correct</key>
		<string></string>
		<key>Answer1</key>
		<string></string>
		<key>Answer2</key>
		<string></string>
		<key>Tag1</key>
		<string></string>
		<key>Answer3</key>
		<string></string>
		<key>Answer4</key>
		<string></string>
		<key>Time</key>
		<string></string>
		<key>Tag2</key>
		<string></string>
		<key>Tag3</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Image</key>
		<string></string>
		<key>Crossref</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string></string>
		<key>Correct</key>
		<string></string>
		<key>Answer1</key>
		<string></string>
		<key>Answer2</key>
		<string></string>
		<key>Answer3</key>
		<string></string>
		<key>Answer4</key>
		<string></string>
		<key>Time</key>
		<string></string>
		<key>Tag1</key>
		<string></string>
		<key>Tag2</key>
		<string></string>
		<key>Tag3</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Image</key>
		<string></string>
		<key>Crossref</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string></string>
		<key>Correct</key>
		<string></string>
		<key>Answer1</key>
		<string></string>
		<key>Answer2</key>
		<string></string>
		<key>Answer3</key>
		<string></string>
		<key>Answer4</key>
		<string></string>
		<key>Time</key>
		<string></string>
		<key>Tag1</key>
		<string></string>
		<key>Tag2</key>
		<string></string>
		<key>Tag3</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Image</key>
		<string></string>
		<key>Crossref</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string></string>
		<key>Correct</key>
		<string></string>
		<key>Answer1</key>
		<string></string>
		<key>Answer2</key>
		<string></string>
		<key>Answer3</key>
		<string></string>
		<key>Answer4</key>
		<string></string>
		<key>Time</key>
		<string></string>
		<key>Tag1</key>
		<string></string>
		<key>Tag2</key>
		<string></string>
		<key>Tag3</key>
		<string></string>
		<key>Difficulty</key>
		<string></string>
		<key>Image</key>
		<string></string>
		<key>Crossref</key>
		<string></string>
	</dict>
</array>
</plist>
