<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string>What political transformation contributed to the sense of nationalism and optimism during the Era of Good Feelings?</string>
		<key>Correct</key>
		<string>Massive decline of the Federalist Party</string>
		<key>Answer1</key>
		<string>Rapid rise of the Federalist Party</string>
		<key>Answer2</key>
		<string>Rapid rise of the Republican Party</string>
		<key>Answer3</key>
		<string>Charismatic leadership of James Monroe</string>
		<key>helperTips</key>
		<string>This party was vigorously opposed to the War of 1812 and plotted to secede from the Union.</string>
		<key>difficulty</key>
		<string>5</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Good Feelings</string>
		<key>Tag1</key>
		<string>Politics</string>
		<key>Tag2</key>
		<string>0</string>
		<key>Tag3</key>
		<string>0</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string>The Federalists were nearly extinct and James Monroe lead a surge in nationalism.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which of the following is not consistent with a policy of Economic Nationalism?</string>
		<key>Correct</key>
		<string>Subsidies given to farmers to grow more wheat and corn</string>
		<key>Answer1</key>
		<string>Tarriff of 1816</string>
		<key>Answer2</key>
		<string>National Bank</string>
		<key>Answer3</key>
		<string>Roads and canals</string>
		<key>helperTips</key>
		<string>The three components of Henry Clay&apos;s American System</string>
		<key>difficulty</key>
		<string>5</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Good Feelings</string>
		<key>Tag1</key>
		<string>Social</string>
		<key>Tag2</key>
		<string>Economic</string>
		<key>Tag3</key>
		<string>0</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string>What was the major point of contention with Henry Clay&apos;s &quot;American System&quot;?</string>
		<key>Correct</key>
		<string>Allocation of Federal funds to states for road-building</string>
		<key>Answer1</key>
		<string>Chartering a second National Bank</string>
		<key>Answer2</key>
		<string>Protective Tariffs benefitting only northeast merchants</string>
		<key>Answer3</key>
		<string>Central currency backed by gold</string>
		<key>helperTips</key>
		<string>Federal v. States Rights political battles were in their infancy.</string>
		<key>difficulty</key>
		<string>4</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Good Feelings</string>
		<key>Tag1</key>
		<string>Politics</string>
		<key>Tag2</key>
		<string>0</string>
		<key>Tag3</key>
		<string>0</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Who was the first president of the U.S.</string>
		<key>Correct</key>
		<string>George Washington</string>
		<key>Answer1</key>
		<string>Abraham Lincoln</string>
		<key>Answer2</key>
		<string>Thomas Jefferson</string>
		<key>Answer3</key>
		<string>James Madison</string>
		<key>helperTips</key>
		<string>Alexander Hamilton</string>
		<key>difficulty</key>
		<string>3</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Colonial</string>
		<key>Tag1</key>
		<string>Politics</string>
		<key>Tag2</key>
		<string>0</string>
		<key>Tag3</key>
		<string>0</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string></string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which of the following was not a reason that the South supported slavery?</string>
		<key>Correct</key>
		<string>Almost all white families already owned slaves</string>
		<key>Answer1</key>
		<string>Bible teachings allowed for slave ownership</string>
		<key>Answer2</key>
		<string>The Southern economy would be devastated</string>
		<key>Answer3</key>
		<string>Slaves were of inferior intellect</string>
		<key>helperTips</key>
		<string>Slavery was a status symbol.</string>
		<key>difficulty</key>
		<string>3</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Antebellum</string>
		<key>Tag1</key>
		<string>Social</string>
		<key>Tag2</key>
		<string>Slavery</string>
		<key>Tag3</key>
		<string>Economic</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string>Most southerners did not own slaves. </string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which action best embodied the spirit of Manifest Destiny</string>
		<key>Correct</key>
		<string>Mexican-American War</string>
		<key>Answer1</key>
		<string>Spanish-American War</string>
		<key>Answer2</key>
		<string>War of 1812</string>
		<key>Answer3</key>
		<string>Wilmot Proviso</string>
		<key>helperTips</key>
		<string>Manifest Destiny embodied notion that Americans were destined by God to expand westward.</string>
		<key>difficulty</key>
		<string>3</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Manifest Destiny</string>
		<key>Tag1</key>
		<string>Social</string>
		<key>Tag2</key>
		<string>Expansion</string>
		<key>Tag3</key>
		<string>Migration</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string>Texas had declared independence from Mexico and the Polk Administration annexed Texas, but the Mexicans still lay claim to it, leading to war. </string>
	</dict>
	<dict>
		<key>Question</key>
		<string>What was the single biggest hindrance to fulfillment of Manifest Destiny?</string>
		<key>Correct</key>
		<string>Issue of slavery</string>
		<key>Answer1</key>
		<string>European strongholds in western territories</string>
		<key>Answer2</key>
		<string>Resistance of Native Americans</string>
		<key>Answer3</key>
		<string>Anti-imperialist sentiment in New England</string>
		<key>helperTips</key>
		<string>Texas was not immediately annexed after securing independence from Mexico. </string>
		<key>difficulty</key>
		<string>4</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Manifest Destiny</string>
		<key>Tag1</key>
		<string>Social</string>
		<key>Tag2</key>
		<string>Political</string>
		<key>Tag3</key>
		<string>Migration</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string>Both presidents Jackson and Van Buren did not support annexation of Texas because of the unresolved slavery issue.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>The slogan &quot;Fifty-Four Forty or Fight!&quot; refers to what:</string>
		<key>Correct</key>
		<string>Conflict with British over Northwest Territory</string>
		<key>Answer1</key>
		<string>Conflict with French over Canadian Territory</string>
		<key>Answer2</key>
		<string>Missouri Compromise line of demarcation indicating where slavery would be outlawed</string>
		<key>Answer3</key>
		<string>Native American conflicts in Wyoming</string>
		<key>helperTips</key>
		<string>Manifest Destiny embodied notion that Americans were destined by God to expand westward.</string>
		<key>difficulty</key>
		<string>4</string>
		<key>Image</key>
		<string>0</string>
		<key>Time</key>
		<string>Manifest Destiny</string>
		<key>Tag1</key>
		<string>Social</string>
		<key>Tag2</key>
		<string>Expansion</string>
		<key>Tag3</key>
		<string>Migration</string>
		<key>Crossref</key>
		<string>0</string>
		<key>Explanation</key>
		<string>Texas had declared independence from Mexico and the Polk Administration annexed Texas, but the Mexicans still lay claim to it, leading to war. </string>
	</dict>
</array>
</plist>
