<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>letter</key>
		<string>B</string>
		<key>image</key>
		<string>bottle</string>
		<key>phrase</key>
		<string>Bottle</string>
		<key>animation</key>
		<string>no</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>A</string>
		<key>image</key>
		<string>apple</string>
		<key>phrase</key>
		<string>Apple</string>
		<key>animation</key>
		<string>no</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>B</string>
		<key>image</key>
		<string>balloons</string>
		<key>phrase</key>
		<string>Balloons</string>
		<key>animation</key>
		<string>no</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>C</string>
		<key>image</key>
		<string>cactus</string>
		<key>phrase</key>
		<string>Cactus</string>
		<key>animation</key>
		<string>no</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>B</string>
		<key>image</key>
		<string>basket</string>
		<key>phrase</key>
		<string>Basket</string>
		<key>animation</key>
		<string>no</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>B</string>
		<key>image</key>
		<string>bear</string>
		<key>phrase</key>
		<string>Ball</string>
		<key>animation</key>
		<string>yes</string>
		<key>scale</key>
		<string>0.5</string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
