<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>letter</key>
		<string>b</string>
		<key>image</key>
		<string>balloons.png</string>
		<key>phrase</key>
		<string>Balloon</string>
		<key>animation</key>
		<string>no</string>
		<key>resize</key>
		<string>yes</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>b</string>
		<key>image</key>
		<string>bell.png</string>
		<key>phrase</key>
		<string>Bell</string>
		<key>animation</key>
		<string>no</string>
		<key>resize</key>
		<string>yes</string>
	</dict>
	<dict>
		<key>letter</key>
		<string>b</string>
		<key>image</key>
		<string>ball.png</string>
		<key>phrase</key>
		<string>Ball</string>
		<key>animation</key>
		<string>yes</string>
		<key>resize</key>
		<string>yes</string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
