<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>bell</string>
		<key>firstLetter</key>
		<string>B</string>
		<key>secondLetter</key>
		<string>E</string>
		<key>thirdLetter</key>
		<string>L</string>
		<key>fourthLetter</key>
		<string>L</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>net</string>
		<key>firstLetter</key>
		<string>N</string>
		<key>secondLetter</key>
		<string>E</string>
		<key>thirdLetter</key>
		<string>T</string>
		<key>numberOfLetters</key>
		<string>3</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>kite</string>
		<key>firstLetter</key>
		<string>K</string>
		<key>secondLetter</key>
		<string>I</string>
		<key>thirdLetter</key>
		<string>T</string>
		<key>fourthLetter</key>
		<string>E</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>lion</string>
		<key>firstLetter</key>
		<string>L</string>
		<key>secondLetter</key>
		<string>I</string>
		<key>thirdLetter</key>
		<string>O</string>
		<key>fourthLetter</key>
		<string>N</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>tire</string>
		<key>firstLetter</key>
		<string>T</string>
		<key>secondLetter</key>
		<string>I</string>
		<key>thirdLetter</key>
		<string>R</string>
		<key>fourthLetter</key>
		<string>E</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>drum</string>
		<key>firstLetter</key>
		<string>D</string>
		<key>secondLetter</key>
		<string>R</string>
		<key>thirdLetter</key>
		<string>U</string>
		<key>fourthLetter</key>
		<string>M</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>duck</string>
		<key>firstLetter</key>
		<string>D</string>
		<key>secondLetter</key>
		<string>U</string>
		<key>thirdLetter</key>
		<string>C</string>
		<key>fourthLetter</key>
		<string>K</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>gift</string>
		<key>firstLetter</key>
		<string>G</string>
		<key>secondLetter</key>
		<string>I</string>
		<key>thirdLetter</key>
		<string>F</string>
		<key>fourthLetter</key>
		<string>T</string>
		<key>numberOfLetters</key>
		<string>4</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>web</string>
		<key>firstLetter</key>
		<string>W</string>
		<key>secondLetter</key>
		<string>E</string>
		<key>thirdLetter</key>
		<string>B</string>
		<key>numberOfLetters</key>
		<string>3</string>
	</dict>
	<dict/>
	<dict/>
</array>
</plist>
